<footer>
    <span class="copyright">
<<<<<<< HEAD
        &copy; {{date format="YYYY"}} {{meta_title}}. All Rights Reserved.
=======
        &copy; {{date format="YYYY"}} {{@blog.title}}. All Rights Reserved. | Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/kelyvin/caffeine-theme" target="_blank">Caffeine Theme</a>.
>>>>>>> refs/remotes/kelyvin/master
    </span>
</footer>
